form{
    text-align: center;
    padding: 10px;
}
#txt{
    width: 10%;
}
.salvar{
    background-color:   #6959CD ;
    color: white;
}
.ex{
    background-color:#B22222;
    color: white;   
}
/*#txt{
    width: 20%;
    line-height: 20px;

    cursor: pointer;
    margin: 10px;
    padding: 1px 20px;

    
}
.btn{
    color: white;
    background: #6959CD;
}*/